
.top{
    background-color: #fff;
    overflow: hidden;
    // height: 100%;
}
img{
    margin:18% auto;
}
.am-list-item{
    width: 70%;
    margin: 0 auto;
}
.bnt1{
    width: 70%;
    margin: 5% auto;
}