@import "https://at.alicdn.com/t/font_1087952_y7lnjtq3ipk.css";

.div_xia{
    overflow: hidden;
    // display: flex;
    // flex-wrap:wrap;
    // justify-content:space-around;
    padding: 2.5% 0 0 0;
}
.li1{
    list-style: none;
    width: 30%;
    margin: 0 0 2.5% 2.5% ;
    float: left;
    position: relative;
}
.img1{
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10%;
}
.span1{
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    // left:7%;
    z-index: 10;
    text-align: center;
    color: #fff;
}

.top2{
    width: 100%;
    margin-top: 80px;
}
.am-tabs-top{
    position: fixed;
}
.p1{
    margin: 0 0 2.5% 2.5%;
    height: 16px;
    line-height: 16px;
    position: relative;
}
.i1{
    width: 5px;
    height: 16px;
    display: inline-block;
    background-color: red;
    position: absolute;
    border-radius: 50px;
}
.span2{
    margin-left: 2%;
}
