

.video-react-video{
    width: 100%;
}
.video-react .video-react-big-play-button{
    width: 11%;
    border-radius: 50%;
}
.video-react .video-react-big-play-button.video-react-big-play-button-center{
    margin-left: -4%;
}
.msg_div{
    margin-bottom: 90px;
}
.msDiv{
    margin: 3%;
    overflow: hidden;
}
.msH3{
    font-size: 30px;
    font-weight: 600;
}