
.login_top{
    background-color: #fff;
    overflow: hidden;
    // height: 100%;
    width: 100%;
    // height: 900px;
}
img{
    margin:18% auto;
}
.am-button{
    width: 80%;
    margin:30px 10%;
    border-radius: 50px;
    color: #fff;
}
.wx{
    background-image: linear-gradient(to bottom,#a2da7b,#5bce2d)
}
.qq{
    background-image: linear-gradient(to bottom,#8ae9fe,#68c0f7)
}
.gd{
    background-image: linear-gradient(to bottom,#fd518f,#fd5190)
}
.p{
    font-size: 30px;
    text-align: center;
    margin: 30px auto;
}
.gg{
    background-color: red;
}